<a href="https://colab.research.google.com/github/Ellenzinha1/introducao_a_programacao/blob/main/atividade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade = float(input("digite a sua media"))

if idade >= 65:
  print("idoso")
elif idade <= 64 and idade >= 18:
  print("adulto")
elif idade <= 17 and idade >= 13:
  print("adolescente")
else:
  print("criancinha")

In [ ]:
media = float(input("digite a sua media"))

if media >= 9:
  print("aprovadissimo")
elif media >= 7 and temp <= 7:
  print("aprovado")
else:
  print("reprovou")

digite a sua media6
reprovou

In [ ]:
numero = int(input("Digite um número: "))
if numero % 2 == 0 and numero % 3 == 0:
    print(f"O número {numero} é múltiplo de 2 e de 3 ao mesmo tempo.")
else:
    print(f"O número {numero} NÃO é múltiplo de 2 e de 3 ao mesmo tempo.")

In [ ]:
nome = input("insira seu nome")
senha = input("insira seu nome")

if nome == "admin" and senha == "1234":
  print("bem vindo")
else:
  print("nome ou senha incorretos")

insira seu nomerola
insira seu nome34
nome ou senha incorretos

In [ ]:
valor1 = float(input("Digite o primeiro valor: "))
valor2 = float(input("Digite o segundo valor: "))

print("iguais = " ,valor1 == valor2)
print("diferentes =", valor1 != valor2)
print("maior=" ,valor1 > valor2)
print("menor=" ,valor1 < valor2)

Digite o primeiro valor: 3
Digite o segundo valor: 2
iguais =  False
diferentes = True
maior= True
menor= False

In [ ]:
nascimento = int(input("digite seu ano de nascimento"))

if nascimento >= 18:
  print("maior de idade")
else:
  print("menor de idade")

digite seu ano de nascimento2007
maior de idade

In [ ]:
temp = float(input("digite a temperatura"))

if temp <= 15:
  print("esta frio")
elif temp >15 and temp <= 22:
  print("esta agradavel")
else:
  print("esta quente")

digite a temperatura6
esta frio

In [ ]:
voto = int(input("digite sua idade"))

if voto >= 16:
  print("pode votar")
else :
  print("nao pode votar")

digite sua idade78
pode votar

In [ ]:
aluno = float(input("insira sua nota"))

if aluno >= 7:
  print("aprovado")
else:
  print("reprovado")

insira sua nota7
aprovado

In [ ]:
valor1 = float(input("Digite o primeiro valor: "))
valor2 = float(input("Digite o segundo valor: "))

print("soma = " ,valor1 + valor2)
print("subtracao ="  ,valor1 - valor2)
print("multiplicacao =" ,valor1 * valor2)
print("divisao3=" ,valor1 / valor2)

Digite o primeiro valor: 3
Digite o segundo valor: 3
soma =  6.0
subtracao = 0.0
multiplicacao = 9.0
divisao= 1.0

In [ ]:
valor = int(input("digite um numero"))

if valor == 100:
  print("seu valor é igual a 100")
else:
  print("seu valor nao é igual a 100")

digite um numero40
seu valor nao é igual a 100

In [ ]:
numero = int(input("insira seu numero"))

print("antecessor", numero -1)
print("sucessor", numero +1)

insira seu numero5
antecessor 4
sucessor 6

In [ ]:
quantidade_desejada = int(input("insira a quantidade desejada"))
preco= float(input("insira o preco"))

total = (quantidade_desejada * preco)

print("o valor a pagar é", total)

insira a quantidade desejada4
insira o preco3
o valor a pagar é 12.0

In [ ]:
diasT = int(input("quantos dias voce trabalha ?"))

trabalhados = (diasT * 120)

print("seu salario é ", trabalhados)

quantos dias voce trabalha ?6
seu salario é  720

In [ ]:
idade = int(input("digite sua idade"))

if idade >= 18:
  print("maior de idade")
else :
  print("menor de idade")

digite sua idade7
menor de idade

In [ ]:
Reais = float(input("digite o valor em REAL"))

dolar = (Reais * 5.00 )

print("o valor em $ ", dolar)

digite o valor em REAL7
o valor em $  35.0

In [ ]:
num1 = float(input("digite seu valor "))

convercao = (num1 * 100)

print("o cm é igual a ", convercao)

digite seu valor 6
o cm é igual a  600.0

In [ ]:
num1 = int(input("digite seu primeiro numero"))
num2 = int(input("digite seu segundo numero"))

multipilicacao = (num1 * num2)

print("seu valor final é", multipilicacao)

digite seu primeiro numero5
digite seu segundo numero5
seu valor final é 25

In [ ]:
nome = input("digite seu nome")
print("Olá", nome, " boa noite")

digite seu nomecu
Olá cu  boa noite

In [ ]:
val1 = int(input("digite um valor"))
val2 = int(input("digite outro valor"))

soma_int = int(val1 + val2)
soma_flo = float(val1 + val2)

if soma_int == soma_flo:
  print("a soma é igual")
else:
  print("a soma é diferente")

In [ ]:
valor1 = True
valor2 = False

if valor1 and valor2 == False:
  print("sao iguais")
else:
  print("sao diferentes")

sao iguais

In [ ]:
numero_I = input("Digite seu numero")
numero_F = float(numero_I)
print("o seu numero convertido é" , numero_F)

Digite seu numero5
o seu numero convertido é 5.0

In [ ]:
caracteres = str(input("insira um texto"))
print("o texto tem ",len(caracteres))

insira um textooiiii
o texto tem  5

In [ ]:
numero = input("Digite um número: ")

if '.' in numero:
    print(f"Tem {len(numero.split('.')[1])} casas decimais.")
else:
    print("Tem 0 casas decimais.")

Digite um número: 0000.5
Tem 1 casas decimais.

In [ ]:
nome = str(input("Digite seu nome :"))
idade = int(input("Digite sua idade :"))
altura = float(input("Digite sua altura :"))

print(f"seu nome é:", nome)
print(f"sua idade é:", idade)
print(f"sua altura é:", altura)

Digite seu nome :ellen
Digite sua idade :5
Digite sua altura :170
seu nome é: ellen
sua idade é: 5
sua altura é: 170.0

In [ ]:
valor_bool = True
valor_convertido = str(valor_bool)
print(f"o valor convertido é:", valor_convertido)

o valor convertido é: True

In [ ]:
numero_str = input("digite um numero")
numero_float = float(numero_str)

print(f"O numero como decimal é :",numero_float)

digite um numero10
O numero como decimal é : 10.0

In [ ]:
numero_str = input("Digite um número: ")
numero_int = int(numero_str)

print(f"O número como inteiro é: {numero_int}")

In [ ]:
numeroI = int("2")
numeroF = float("2.6")
tru = bool("true")
Conjunto_letras = str("tudo que fica dentro das aspas")

print(f"Numero inteiro {numeroI}")
print(f"Numero Float {numeroF}")
print(f"isbool {tru}")
print(f"str {Conjunto_letras}")

Numero inteiro 2
Numero Float 2.6
isbool True
str tudo que fica dentro das aspas

In [ ]:
str1 = input("Digite a primeira string: ")
str2 = input("Digite a segunda string: ")
if str1 != str2:
    print("As strings são diferentes!")
else:
    print("As strings são iguais!")

In [ ]:
num = float(input("Digite um número: "))

if num < 10 or num > 50:
    print("O número é menor que 10 ou maior que 50.")
else:
    print("O número está entre 10 e 50.")

In [ ]:
idade = int(input("Quantos anos você tem? "))


tem_cnh = input("Você possui CNH? (s/n) ").strip().lower()


if idade >= 18 and tem_cnh == 's':
    print("Você pode dirigir!")
elif idade >= 18:
    print("Você tem idade para dirigir, mas precisa da CNH.")
else:
    print("Você não pode dirigir, pois tem menos de 18 anos.")

In [ ]:
senha1 = input("digite a primeira senha: ")
senha2 = input("digite a segunda senha: ")

if senha1 == senha2:
  print("As senhas sao iguais")
else :
   print("As senhas são diferentes!")''

digite a primeira senha: 1234
digite a segunda senha: 1234
As senhas sao iguais

In [ ]:
num= int(input("Digite o numero :"))

if num <= 0 and idade >= 100 :
  print("fora do intervalo")
else :
  print("esta no intervalo")

Digite o numero :200
esta no intervalo

In [ ]:
num = int(input("Digite o valor:"))

if num != 0 :
  print("o valor nao e igual a 0")
else :
  print("o valor e igual a 0")

Digite o valor:4
o valor nao e igual a 0

In [ ]:
num = int(input("Digite um número: "))

if num % 3 == 0 and num % 5 == 0:
    print("O número é múltiplo de 3 e de 5.")
elif num % 3 == 0:
    print("O número é múltiplo de 3.")
elif num % 5 == 0:
    print("O número é múltiplo de 5.")
else:
    print("O número não é múltiplo de 3 nem de 5.")

Digite um número: 5
O número é múltiplo de 5.

In [ ]:
idade = int(input("Digite sua idade :"))

if idade >= 17 and idade <= 60 :
  print("Voce e de maior")

Digite sua idade :60
Voce e de maior

In [ ]:
numero = int(input("Insira o numero : "))

if numero > 0 and numero % 2 == 0:
  print("O número é positivo e par.")
else:
   print("O número é negativo.")

Insira o numero : -6
O número é negativo.

In [ ]:
n1= int(input("Digite o primeiro numero :"))
n2= int(input("Digite o segundo numero :"))

if n1 > n2 :
  print("O n1 é maior que o n2")
else :
   print("O n1 é menor que o n2")

Digite o primeiro numero :9
Digite o segundo numero :5
O n1 é maior que o n2

In [ ]:
produto = float(input("Digite o valor do produto : "))

desconto = produto * (10 / 100)
valor_final = produto - desconto

print(f"O valor final do produto é: {valor_final} R$ :")

Digite o valor do produto : 100
O valor final do produto é: 90.0 R$ :

In [ ]:
def calcular_area_triangulo(base, altura):
    return (base * altura) / 2

base = float(input("Digite a base do triângulo: "))
altura = float(input("Digite a altura do triângulo: "))

area = calcular_area_triangulo(base, altura)

print(f"A área do triângulo é: {area}")

Digite a base do triângulo: 6
Digite a altura do triângulo: 7
A área do triângulo é: 21.0

In [ ]:
num1 = float(input("Digite o primeiro numero"))
num2= float(input("Digite o segundo numero"))

resultado = (num1 + num2) ** 2

print(f"A elevacao ao quadrado de {num1} e {num2} é {resultado}")

Digite o primeiro numero5
Digite o segundo numero5
A elevacao ao quadrado de 5.0 e 5.0 é 100.0

In [ ]:
num1 = float(input("Digite o primeiro numero"))

quadrado = num1 ** 2

print(f"A elevacao ao quadrado de {num1} é {quadrado}")

Digite o primeiro numero3
A elevacao ao quadrado de 3.0 é 9.0

In [ ]:
num1 = float(input("Digite o primeiro numero"))
num2 = float(input("Digite o segundo numero"))
num3 = float(input("Digite o terceiro numero"))

calculo = num1 + num2 + num3 / 3

print(f"A media aritmetica de {num1} e {num2} e {num3} é {calculo}")

Digite o primeiro numero5
Digite o segundo numero5
Digite o terceiro numero7
A media aritmetica de 5.0 e 5.0 e 7.0 é 12.333333333333334

In [ ]:
num1 = float(input("Digite o primeiro numero"))
num2 = float(input("Digite o segundo numero"))

divisao = num1 / num2

print(f"A divisao de {num1} e {num2} é {divisao}")

Digite o primeiro numero5
Digite o segundo numero5
A divisao de 5.0 e 5.0 é 1.0

In [ ]:
num1 = float(input("Digite o primeiro numero"))
num2 = float(input("Digite o segundo numero"))

multiplicacao = num1 * num2

print(f"A multiplicacao de {num1} e {num2} é {multiplicacao}")

Digite o primeiro numero5
Digite o segundo numero5
a multiplicacao de 5.0 e 5.0 é 25.0

In [ ]:
num1 = float(input("Digite o primeiro numero"))
num2 = float(input("Digite o segundo numero"))

subtracao = num1 - num2

print(f"A subtracao de {num1} e {num2} é {subtracao}")

Digite o primeiro numero4
Digite o segundo numero6
A subtracao de 4.0 e 6.0 é -2.0

In [ ]:
num1 = int(input("Digite o primeiro numero inteiro"))
num2 = int(input("Digite o segundo numero inteiro"))

soma = num1 + num2


print(f"A soma de {num1} e {num2} é {soma} ")

Digite o primeiro numero inteiro6
Digite o segundo numero inteiro6
A soma de 6 e 6 e 12

In [ ]:
num1 = float(input("Digite o primeiro numero: "))
num2 = float(input("Digite o segundo numero: "))
num3 = float(input("Digite o terceiro numero: "))

maior = max(num1, num2, num3)
menor = min(num1, num2, num3)
media = (num1+ num2+ num3 ) / 3

print(f"O numero maior é : {maior}")
print(f"O numero menor é : {menor}")
print(f"A media dos numeros é : {media}")

Digite o primeiro numero: 5
Digite o segundo numero: 5
Digite o terceiro numero: 6
O numero maior é : 6.0
O numero menor é : 5.0
A media dos numeros é : 5.333333333333333

In [ ]:
numero_usuario = int(input("Digite um numero"))

if numero_usuario % 2 == 0 :

  print(f"O numero {numero_usuario} é par. ")
else :
    print(f"O numero {numero_usuario} é ímpar. ")

Digite um numero5
O numero 5 é ímpar.

In [ ]:
nome = (input("Digite seu nome : "))
endereco = (input("Digite seu endereco : "))
telefone =  (input("Digite seu telefone : "))

print("seu nome é : " + nome)
print("seu endreco é : " + endereco)
print("seu telefone é : " + telefone)

Digite seu nome : oi
Digite seu endereco : oi
Digite seu telefone : oi
seu nome é : oi
seu endreco é : oi
seu telefone é : oi

In [ ]:
mercadoria = float(input("Digite o valor da mercadoria :"))
percentual_desconto = float(input("Digite o valor do desconto :"))

desconto = mercadoria * (percentual_desconto / 100)
valor_final = mercadoria - desconto

print(f"valor final: R$ {valor_final:.2f}")
print(f"desconto: R$ {desconto:.2f}")

Digite o valor da mercadoria :500
Digite o valor do desconto :34
valor final: R$ 330.00
desconto: R$ 170.00

In [ ]:
salario = float(input("Digite o valor do salario:"))
porcentagem_aumento = float(input("Digite a porcentagem :"))

aumento = salario * (porcentagem_aumento / 100)
novo_salario = salario + aumento

print(f"aumento: R$ {aumento:.2f}")
print(f"novo_salario: R$ {novo_salario:.2f}")

Digite o valor do salario:100
Digite a porcentagem :10
aumento: R$ 10.00
novo_salario: R$ 110.00

In [ ]:
metros = float(input("Digite o valor dos metros: "))

milimetros = metros * 1000

print(f"{metros} metros é igual a {milimetros} milímetros.")

Digite o valor dos metros: 40
40.0 metros é igual a 40000.0 milímetros.

In [ ]:
salario = 750.00
percentual_aumento = 15

aumento = salario * (percentual_aumento / 100)

salario_final = salario + aumento

print(f"Aumento: R$ {aumento:.2f}")
print(f"Salário final: R$ {salario_final:.2f}")

Aumento: R$ 112.50
Salário final: R$ 862.50

In [ ]:
e = 1
l = 2
n = 3

resultado = e + l + n

print("O resultado de e + l + n é:",resultado)

O resultado de e + l + n é: 6

In [ ]:
a = 3
b = 5

resultado = 2 * a * 3 * b

print("O resultado de 2 * a * 3 * b é :", resultado)

O resultado de 2 * a * 3 * b é : 90

In [ ]:
print("Ellen ")

Ellen